{% extends 'base.html.twig' %}

{% block title %}Modifier l'emplacement{% endblock %}

{% block body %}
    <a href="{{path("product_search")}}">Retour au stock</a>
    <div class="d-flex justify-content-center mt-5">
        <span class="border border-dark bg-white  border border-dark p-6 rounded bg-white shadow-lg p-3 mb-5 bg-white rounded" style="padding: 10px">
            <div>
                <h1>Nouvel emplacement</h1>
                 {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(form) }}
                    <div class="input-group-sm mb-3">
                        {{ form_row(form.emplacement) }}
                    </div>
                    <br>
                    <div class="input-group input-group-sm mb-3">
                        <button type="submit" class="btn btn-primary justify-content-center w-100 p-3"> envoyer </button>
                    </div>
                    <br>
                    <br>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </span>
    </div>
{% endblock %}
