{% extends 'base.html.twig' %}

{% block title %}stock{% endblock %}

{% block  body %}
    <br>
    <form action="{{path("product_search_reference")}}" method="get">
        <label for="reference">Réference: </label>
        <input type="text" name="product[reference]" id="product_reference">
        <button type="submit">recherche</button>
    </form>

    <form action="{{path("product_search_by_rack")}}" method="get">
        <label for="recherche"> chercher par</label>
        <select name="product[emplacement]" >
            <option>Rack</option>
        </select>
        <button type="submit">recherche</button>
    </form>
    {% for product in products %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">id: </th>
                <th scope="col" row="10" col="15">nom: </th>
                <th scope="col">Réference :</th>
                <th scope="col">Quantité :</th>
                <th scope="col">Emplacement au rack :</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <th scope="row">#{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.reference}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.emplacement}}</td>
            <td>
                <form action="{{path("product_modify", {"id" : product.id})}}" method="get">
                    <button type="submit" class="btn btn-primary" value="{{product.id}}">Modifier</button>
                </form> 
                <button type="submit" class="btn btn-danger" value="{{product.id}}"> 
                    <a href="{{path("product_delete", {"id" : product.id})}}" style='text-decoration: none; color: white'>Supprimer</a>
                </button>
            </td>
        </tbody>
        <br><br>
    </table>
        
    {% endfor %}
{% endblock %}