{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block  body %}
    <br>
    <form action="{{path("product_search_reference")}}" method="get" class="form-inline d-flex justify-content-center md-form form-sm mt-0">
        <label for="reference">Réference: </label>
        <input type="text" name="product[reference]" id="product_reference">
        <button type="submit" >recherche</button>
    </form>
    
    <a href="{{path("product_search")}}">Retour au stock</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">id: </th>
                <th scope="col" row="10" col="15">Nom: </th>
                <th scope="col">Réference :</th>
                <th scope="col">Quantité :</th>
                <th scope="col">Emplacement au rack :</th>
            </tr>
        </thead>
        <tbody>
            <th scope="row" id="id">{{products.id}}</th>
            <td>{{products.name}}</td>
            <td>{{products.reference}} <a href="{{path("product_modify_reference", {"id" : products.id})}}"><button type="button" class="btn btn-warning"> Modifier </button></a></td>
            <td>
                <p id="quantity">{{products.quantity}} </p>
                <button type="button" onclick="Moin()" class="btn btn-danger btn-sm" id="moin"> - </button>
                <button type="button" onclick="Plus()" class="btn btn-success btn-sm" id="plus"  > + </button>
            </td>
            <td>{{products.emplacement}}</td>
        </tbody>
        <br><br>
    </table>
    <script src="{{asset('scripts/modifyQuantity.js')}}"></script>
{% endblock %}