{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block  body %}
    <br>
    <form action="{{path("product_search_reference")}}" method="get" class="form-inline d-flex justify-content-center mt-0">
        <label for="reference">Réference: </label>
        <input type="text" name="product[reference]" id="product_reference" class="form-control w-50">
        <br>
        <button type="submit"  class="btn btn-primary justify-content-center">recherche</button>
    </form>
    
    <a href="{{path("product_search")}}">Retour au stock</a>
    <table class="table table-bordered bg-white" >
        <thead>
            <tr>
                <th class="text-center" scope="col">id: </th>
                <th class="text-center" scope="col" row="10" col="15">Nom: </th>
                <th class="text-center" scope="col">Réference :</th>
                <th class="text-center" scope="col">Quantité :</th>
                <th class="text-center" scope="col">Emplacement :</th>
            </tr>
        </thead>
        <tbody>
            <th class="text-center" scope="row" id="id"><strong>{{products.id}}</strong></th>
            <td class="text-center"><strong>{{products.name}}</strong> <a href="{{path("product_modify_name", {"id" : products.id})}}"><button type="button" class="btn btn-warning"> Modifier </button></a></td>
            <td class="text-center"><strong>{{products.reference}}</strong> <a href="{{path("product_modify_reference", {"id" : products.id})}}"><button type="button" class="btn btn-warning"> Modifier </button></a></td>
            <td class="text-center">
                {% if products.quantity == 0 %}
                    <p id="quantity" class='h3 text-danger' style="color: red"><strong>{{products.quantity}}</strong> </p>
                {% endif %}

                {% if products.quantity == 1 %}
                    <p id="quantity" class='h3 text-warning' style="color: orange"><strong>{{products.quantity}}</strong> </p>
                {% endif %}

                {% if products.quantity >= 2 %}
                    <p id="quantity" class='h3 text-success' style="color: green"><strong>{{products.quantity}}</strong> </p>
                {% endif %}
                <div class="d-flex justify-content-around m-50">
                    <button type="button" onclick="Moin()" class="btn btn-danger btn-sm h-25 w-25" id="moin">  - </button>
                    <button type="button" onclick="Plus()" class="btn btn-success btn-sm h-25 w-25" id="plus"  >  + </button>
                </div>
            </td>
            <td class="text-center"><strong>{{products.emplacement}}</strong> <a href="{{path("product_modify_emplacement", {"id" : products.id})}}"><button type="button" class="btn btn-warning"> Modifier </button></a></td>
        </tbody>
        <br><br>
    </table>
    <script src="{{asset('scripts/modifyQuantity.js')}}"></script>
{% endblock %}