{% extends 'base.html.twig' %}

{% block title %}stock{% endblock %}
{% block head %}
<script>
   
</script>
{% endblock %}

{% block  body %}
    <br>
    <form action="{{path("product_search_reference")}}" method="get" class="form-inline d-flex justify-content-center md-form form-sm mt-0">
        <label for="reference">Réference: </label>
        <input type="text" name="product[reference]" id="product_reference">
        <button type="submit" >recherche</button>
    </form>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">id: </th>
                <th scope="col" row="10" col="15">Nom: </th>
                <th scope="col">Réference :</th>
                <th scope="col">Quantité :</th>
                <th scope="col">Emplacement au rack :</th>
            </tr>
        </thead>
        <tbody>
            <th scope="row" id="id">{{products.id}}</th>
            <td>{{products.name}}</td>
            <td>{{products.reference}} <a href="{{path("product_modify_reference", {"id" : products.id})}}"><button type="button" class="btn btn-warning"> Modifier </button></a></td>
            <td>
                <p id="quantity">{{products.quantity}} </p>
                <button type="button" onclick="Moin()" class="btn btn-danger btn-sm" id="moin"> - </button>
                <button type="button" onclick="Plus()" class="btn btn-success btn-sm" id="plus"  > + </button>
            </td>
            <td>{{products.emplacement}} <a href=""><button type="button" class="btn btn-warning" id="rack">  Modifier </button></a></td>
        </tbody>
        <br><br>
    </table>

    <script>
        var number = parseInt(document.querySelector("#quantity").textContent);

        function Plus()
        {
            number+=1

            modifyQuantity(); 
        }

        function Moin()
        {
            number-=1

            modifyQuantity();
        }

        function modifyQuantity()
        {

            var id = parseInt(document.querySelector("#id").textContent);

            var plus = document.querySelector("#plus");
            var moin = document.querySelector("#moin");
            
            console.log(number);
            
            let ajax = new XMLHttpRequest();
            let form = new FormData();

            form.append("id", id);
            form.append("number", number);

            ajax.onreadystatechange = function()
            {
                if (ajax.readystate === 3) 
                {
                    
                }

                if(ajax.readyState === 4  && ajax.status === 200)
                {
                    let result = JSON.parse(ajax.responseText); 
                    
                    document.querySelector("#quantity").innerHTML = result.resultat.quantity;
                    
                }
                console.log(ajax);
            }
            ajax.open("POST", "https://127.0.0.1:8000/modifyQuantity");
            ajax.send(form);
            
        } 

    </script>
{% endblock %}